@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin tamanio($a, $b) {
    width: $a;
    height: $b;
}

@mixin boton($bgColor, $colorTexto ) {
    background-color: $bgColor;
    color: $colorTexto;
    padding: 15px 38px;
    border-radius: 32px;
}



$tamanio-line-height: 1.8rem;
$tamanio-nav-footer: 1.1rem;
$tamanio-parrafo: 1.2rem;
$titulo-secciones: 2.5rem;
$subtitulo-secciones: 2rem;
$titulo-principal: 4rem;

$titulo-principal-tablets: 3rem;
$titulo-secciones-tablets: 2rem;
$subtitulo-secciones-tablets: 1.5rem;
$tamanio-parrafo-tablets: 1rem;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 600px;
    height: auto;
}

header {
    @include tamanio(100%, 80vh);
    @include flex(column, initial, center);
    background-image: url(../imagenes/bg-pattern-intro-desktop.svg);
    background-size: 110rem;
    background-position-x: 200px;
    background-repeat: no-repeat;
    background-position-y: -600px;
    background-color: #ff545d;
    color: white;
    border-bottom-left-radius: 6rem;
    text-align: center;

    nav {
        @include tamanio(90%, 20vh);
        @include flex(row, space-between, center);

        #nav-left {
            @include tamanio(50%, 100%);
            @include flex(row, space-between, center);

            #nav-left-container-select {
                @include tamanio(60%, 100%);
                @include flex(row, space-between, center);

                div {
                    @include flex(row, center, center);

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: $tamanio-nav-footer;
                    }

                    select {
                        border: none;
                        background-color: transparent;
                        color: white;
                        width: 2rem;

                        option {
                            color: black;
                        }
                    }
                }
            }
        }

        #nav-right {
            @include tamanio(50%, 100%);

            @include flex(row, end, center);

            ul {
                @include tamanio(40%, 100%);
                @include flex(row, space-around, center);
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;
                }

                li {
                    font-size: $tamanio-nav-footer;
                }
            }

            #sign-up {
                @include boton(white, #ff545d);
            }

            #sign-up:hover {
                @include boton(#ff7b86, white);
                transition: 0.4s all cubic-bezier(0.215, 0.610, 0.355, 1);
            }
        }
    }

    #header-main-text {
        @include tamanio(70%, 80%);
        @include flex(column, start, center);
        gap: 1rem;
        margin-top: 3rem;

        h1 {
            font-size: $titulo-principal;
        }

        span {
            font-size: 1.5rem;
        }

        #header-buttons {
            margin-top: 2rem;

            button {
                border: none;
                font-size: $tamanio-nav-footer;
                @include boton(white, #ff545d);
            }

            button:hover {
                @include boton(#ff7b86, white);
                transition: 0.4s all cubic-bezier(0.215, 0.610, 0.355, 1);
            }

            #learn {
                @include boton(#ff545d, white);
                border: 1px solid white;
                margin-left: 2rem;
            }

            #learn:hover {
                @include boton(white, #ff545d);
                transition: 0.4s all cubic-bezier(0.215, 0.610, 0.355, 1);
            }
        }
    }
}

#designed-section {
    @include tamanio(100%, 120vh);
    @include flex(column, center, center);

    h2 {
        @include tamanio(100%, 20%);
        @include flex(row, center, end);
        font-size: $titulo-secciones;
    }

    #container-sections {
        @include tamanio(100%, 80%);
        @include flex(row, space-between, center);

        #designed-section-left {
            @include tamanio(50%, 100%);
            @include flex(column, center, center);

            div {
                @include tamanio(78%, 50%);
                @include flex(column, center, start);
                gap: 2rem;

                h3 {
                    font-size: $subtitulo-secciones;
                }

                p {
                    font-size: $tamanio-parrafo;
                    line-height: $tamanio-line-height;
                }
            }

            #robust {
                justify-content: start;
            }
        }

        #designed-section-right {
            @include tamanio(50%, 100%);

            @include flex(row, center, center);

            img {
                width: 800px;
                height: 800px;
                position: relative;
                overflow: hidden;
                left: 10rem;
            }
        }
    }
}

#state-section {
    @include tamanio(100%, 60vh);
    @include flex(row, center, center);
    background-color: #3b3e5d;
    background-image: url(../imagenes/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: -205px;
    background-position-y: -500px;
    background-size: 60rem;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    color: white;

    #state-section-left {
        @include tamanio(50%, 100%);
        @include flex(row, center, center);
    }

    #state-section-right {
        @include tamanio(50%, 100%);
        @include flex(column, center, start);

        div {
            @include tamanio(77%, 100%);
            @include flex(column, center, start);
            gap: 2rem;

            h4 {
                font-size: 2.5rem;
            }

            p {
                font-size: $tamanio-parrafo;
                line-height: $tamanio-line-height;
            }
        }
    }
}

#free-section {
    @include tamanio(100%, 150vh);
    @include flex(row, center, center);

    #free-section-left {
        @include tamanio(50%, 100%);
        @include flex(column, center, center);

        img {
            width: 1000px;
            height: 800px;
            position: relative;
            overflow: hidden;
            right: 8rem;
        }
    }

    #free-section-right {
        @include tamanio(50%, 50%);
        @include flex(column, center, center);
        gap: 6rem;

        div {
            @include tamanio(78%, 50%);
            @include flex(column, center, start);
            gap: 2rem;

            h5 {
                font-size: $subtitulo-secciones;
            }

            p {
                font-size: $tamanio-parrafo;
                line-height: $tamanio-line-height;
            }
        }

        #powerful {
            justify-content: start;
        }
    }
}

footer {
    @include tamanio(100%, 50vh);
    background-color: #24242c;
    color: white;
    @include flex(row, space-around, center);
    border-top-right-radius: 6rem;

    #footer-left {
        @include tamanio(35%, 100%);
        @include flex(row, center, start);

        img {
            margin-top: 4rem;
        }
    }

    #footer-rigth {
        @include tamanio(65%, 100%);

        div {
            @include tamanio(100%, 90%);
            @include flex(row, space-between, baseline);

            div {
                @include flex(column, center, start);
                gap: 2rem;

                h6 {
                    font-size: $tamanio-nav-footer;
                }

                ul {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: white;
                    }

                    a:hover {
                        text-decoration: underline;
                    }

                    li {
                        margin: 0.5rem 0;
                        font-size: $tamanio-nav-footer;
                    }
                }
            }
        }

    }
}

@media (max-width:768px) {
    header {
        nav {
            #nav-right {
                display: none;
            }

            #nav-left {
                #nav-left-container-select {
                    display: none;
                }
            }
        }

        #header-main-text {
            h1 {
                font-size: $titulo-principal-tablets;
            }

            span {
                font-size: 1.3rem;
            }

            #header-buttons {
                margin-top: 1rem;
            }
        }
    }

    #designed-section {
        h2 {
            font-size: $titulo-secciones-tablets;
        }

        #container-sections {
            #designed-section-left {
                div {
                    gap: 1rem;

                    h3 {
                        font-size: $subtitulo-secciones-tablets;
                    }

                    p {
                        font-size: $tamanio-parrafo-tablets;
                        line-height: normal;
                    }
                }
            }
        }
    }

    #state-section {
        #state-section-left {
            width: 60%;
        }

        #state-section-right {
            width: 40%;
            align-items: center;

            div {
                h4 {
                    font-size: $titulo-secciones-tablets;
                }

                p {
                    font-size: $tamanio-parrafo-tablets;
                    line-height: normal;
                }
            }
        }
    }

    #free-section {
        height: 110vh;

        #free-section-left {
            img {
                width: 600px;
                height: 600px;
                right: 4rem;
            }
        }

        #free-section-right {
            gap: 4rem;

            div {
                h5 {
                    font-size: $subtitulo-secciones-tablets;
                }

                p {
                    font-size: $tamanio-parrafo-tablets;
                    line-height: normal;
                }
            }
        }
    }
}

@media(max-width:480px) {
    header {
        height: 140vh;
        border-bottom-left-radius: 11rem;

        #header-main-text {
            justify-content: center;
            margin-top: 0;
            width: 85%;
        }
    }

    #designed-section {
        height: 250vh;
        margin-top: 5rem;
        margin-bottom: 15rem;

        h2 {
            height: 10%;
            align-items: start;
            font-size: 2.2rem;
        }

        #container-sections {
            height: 90%;
            flex-direction: column-reverse;

            #designed-section-right {
                @include tamanio(100%, 30%);
                background-image: url(../imagenes/illustration-editor-mobile.svg);
                background-repeat: no-repeat;
                background-position: center;

                img {
                    display: none
                }
            }

            #designed-section-left {
                @include tamanio(80%, 70%);
                gap: 2rem;

                div {
                    align-items: center;
                    text-align: center;

                    h3 {
                        font-size: 2.5rem;
                    }

                    p {
                        font-size: 1.4rem;
                        line-height: $tamanio-line-height;
                    }
                }


            }
        }
    }

    #state-section {
        height: 150vh;
        flex-direction: column;
        border-top-right-radius: 11rem;
        border-bottom-left-radius: 11rem;

        #state-section-left {
            @include tamanio(100%, 20%);
            @include flex(row, center, center);

            img {
                width: 38rem;
            }
        }

        #state-section-right {
            @include tamanio(100%, 80%);

            div {
                text-align: center;
                margin-top: 4rem;

                h4 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                    list-style: 2rem;
                }
            }
        }
    }

    #free-section {
        height: 200vh;
        flex-direction: column;

        #free-section-left {
            @include tamanio(100%, 30%);
            background-image: url(../imagenes/illustration-laptop-mobile.svg);
            background-position: center;

            img {
                display: none;
            }
        }

        #free-section-right {
            @include tamanio(100%, 70%);

            div {
                width: 78%;
                text-align: center;
                align-items: center;

                h5 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
            }
        }
    }

    footer {
        height: 200vh;
        flex-direction: column;
        border-top-right-radius: 11rem;

        #footer-left {
            @include tamanio(100%, 10%);
        }

        #footer-rigth {
            @include tamanio(100%, 80%);

            div {
                flex-direction: column;
                gap: 4rem;

                div {
                    @include flex(column, center, center);
                    text-align: center;
                    gap: 1rem;

                    h6 {
                        font-size: 1.8rem;
                    }

                    ul {
                        li {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}