@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin tamanio($a, $b) {
    width: $a;
    height: $b;
}

@mixin boton($bgColor, $colorTexto ) {
    background-color: $bgColor;
    color: $colorTexto;
    padding: 15px 38px;
    border-radius: 32px;
}

$tamanio-line-height: 1.8rem;
$tamanio-nav-footer: 1.1rem;
$tamanio-parrafo: 1rem;
$titulo-secciones: 2.5rem;
$subtitulo-secciones: 2rem;
$titulo-principal: 4rem;

$titulo-principal-tablets: 3rem;
$titulo-secciones-tablets: 2rem;
$subtitulo-secciones-tablets: 1.5rem;
$tamanio-parrafo-tablets: 1rem;

@import "general";
@import "header";
@import "designed-section";
@import "state-section";
@import "free-section";
@import "footer";
@import "styles-tablets";
@import "styles-phones";